################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blazor.AzureCosmos.Demo/.vs
/Blazor.AzureCosmos.Demo/bin/Debug/net7.0
